.login{
  display: flex;
  align-items: center;
  justify-content: center;
}


.login form{
  display: flex;
  flex-direction: column;
  width: 400px;
}

.login input{
  text-align: center;
  padding: 10px;

  border: none;
  outline: none;

  border-bottom: 2px solid #bfbfbf;

  margin-bottom: 5px;

  font-size: 30px;
  color: #bfbfbf;
}

.login button{
  padding: 20px;
  border: none;
  background-color: #bfbfbf;
  color: white;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: 200ms;
  transition-timing-function: cubic-bezier(0.83, -0.56, 0.1, 1.51);
}

.login button::after {
  position: fixed;
  content: "";
  background: white;
  width: 400px;
  height: 1px;
  transform: translate(-219px, 50px);
  z-index: 1;
  transition: 200ms;
  transition-timing-function: cubic-bezier(0.83, -0.56, 0.1, 1.51);

  opacity: 0;
}

.login button:hover::after {
  position: fixed;
  content: "";
  background: #5c5c5c;
  width: 400px;
  height: 19px;
  transform: translate(-219px, 30px);
  z-index: 1;
  opacity: 1;
}


.noerror{
  display: none;
  padding: 5px;
}

.error{
  padding: 10px;
  text-align: center;
  background-color: #e45959;
  font-size: 20px;
  color: white;

  animation-name: error;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;

}

@keyframes error{
  from{ background-color: white; 
        transform: translate(0px, 20px)    
    }
  to{ background-color: #b53636; }
}



