@font-face{
  font-family: 'gilroy';
  src: url('./icons/Gilroy-Light.otf'); /* IE9 Compat Modes */
  src: url('./icons/Gilroy-Light.otf') format('embedded-opentype'), /* IE6-IE8 */
      url('./icons/Gilroy-Light.otf') format('woff2'), /* Super Modern Browsers */
      url('./icons/Gilroy-Light.otf') format('woff'), /* Pretty Modern Browsers */
      url('./icons/Gilroy-Light.otf')  format('truetype'), /* Safari, Android, iOS */
      url('./icons/Gilroy-Light.otf') format('svg'); /* Legacy iOS */
}

@font-face{
  font-family: 'gilroy-bold';
  src: url('./icons/Gilroy-ExtraBold.otf'); /* IE9 Compat Modes */
  src: url('./icons/Gilroy-ExtraBold.otf') format('embedded-opentype'), /* IE6-IE8 */
      url('./icons/Gilroy-ExtraBold.otf') format('woff2'), /* Super Modern Browsers */
      url('./icons/Gilroy-ExtraBold.otf') format('woff'), /* Pretty Modern Browsers */
      url('./icons/Gilroy-ExtraBold.otf')  format('truetype'), /* Safari, Android, iOS */
      url('./icons/Gilroy-ExtraBold.otf') format('svg'); /* Legacy iOS */
}

*{
  margin: 0;
  padding: 0;
  font-family: 'gilroy';
}
